<div class="container">
	<div class="row">
		<div class="col-md-6">
<h1>HOLA BIENVENIDO!</h1>
		</div>
		<div class="col-md-6">
			<%= link_to 'Crea Articulo', new_articulo_path %> 

<%= link_to 'Todos los Articulos', articulos_path %> 
		</div>
	</div>
</div>